<div id="gantt_here" style='width:100%; height:800px;'></div>

<script>
 //    gantt.config.start_date = new Date(2016, 4, 27, 7, 00);
	// gantt.config.end_date = new Date(2016, 4, 28, 24, 00);
    gantt.config.date_grid = "%H:%i";
	gantt.config.scale_unit = "hour";
	gantt.config.duration_unit = "hour";
	gantt.config.date_scale = "%H:%i"; 
	// gantt.config.step = 2; 

	gantt.init("gantt_here");
	gantt.load("<%= data_path %>");

	var dp = new dataProcessor("<%= data_path %>");
	dp.init(gantt);
	dp.setTransactionMode("REST");
</script>